@font-face {
    font-family: 'SFUIText';
    src: url('../../font/SFUIText/SFUIText-Light.ttf');
}

@font-face {
    font-family: 'SFUIText-bold';
    src: url('../../font/SFUIText/SFUIText-Bold.ttf');
}

@font-face {
    font-family: 'SFUIText-medium';
    src: url('../../font/SFUIText/SFUIText-Medium.ttf');

}

h1, h2, h3, h4, h5, h6 {
    font-family: SFUIText-bold !important;
}

b {
    font-family: SFUIText-medium !important;
}

html, body {
    font-size: 14px;
    font-family: SFUIText !important;
}


.footer {
    padding-bottom: 60px;
    padding-top: 60px;
}

.sub {
    padding-bottom: 30px;
    padding-top: 30px;
}

.bg-image {
    color: black;
    background: url(../assets/footer-bg.jpg) bottom center no-repeat;
}

.bg-grey {
    color: #a7a7a7;
    background-color: #e0e3e6;
}

.bg-blue {
    color: #a7a7a7;
    background-color: #212331;
}

.space {
    margin-bottom: 30px;
}

.center {
    text-align: center;
    margin: auto;
}

.footer h4 {
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.footer  li a {
    color: #a7a7a7;
}

.footer li a:hover {
    color: white;
    text-decoration: none;
}


header a {
    color: #a7a7a7;
}

header a:hover {
    color: white;
    text-decoration: none;
}
header nav a:hover {
    color: orange;
    text-decoration: none;
}

.padding{
    padding: 5px 20px;
    text-align: center;
    margin: auto;
}

.img-responsive {
    display: block;

    max-width: 100%;
    height: auto;
}

.social i {
    border: 1px solid #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.social a{
    color: #fff;
}

.primary{
    color: orange;
    font-size: 20px;
}

.h-phone {
    font-size: 22px;
    font-weight: 600;
    float:right;
}
.header {
    background-image: url("../assets/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed #333;
}
.slide-item{
    padding: 20px;
}
#slide-video{
    background: #f4f4f6;
}
.title h1{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.btn-time{
    background: #7ec8e9;
    padding: 10px;
    width: 130px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 20px;
}
.img-info{
    width: 100%;
    height: 200px;
    margin-top:-15px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.title-info h4{
    font-weight: bold !important;
    font-family: "Times New Roman", Times, serif;
    text-align: start;
}

.title-des p{
    text-align: justify;
    font-size: 13px;
}
.info-see-all hr{
    width: 150px;
    background: #7ec8e9;
    margin-top: 0 !important;
}
.info-see-all a{
    color:#7ec8e9 ;
    font-size: 12px;
    font-style: italic;
}
.img-partner{
    max-width: 200px;
}
#effective{
    background: #f4f4f6;
}
.effective-img{
    width:100%;
    border-radius: 20px;
}
.effective-content{
    margin-top: 60px;
}
.title-record h4{
    float:right;
    font-weight: bold;
    margin-left: 20px;
    font-size: 17px;
}
.des-record p {
    margin-left: 45px;
    font-size: 14px;
    text-align: justify;
    color: #8f8f90;
}
.content-record i{
    color: #ffb111;
    font-size: 30px;
}
#statistical hr{
    margin-top: -10px;
    margin-bottom: 10px;
    width: 30px;
    border: 2px solid #ffb111;
    margin-left: 0;
}
.statistical-number{
    font-size: 3rem;
    font-weight: bold;
    color: #474747;
}
.statistical-label{
    font-weight: 600;
    font-size: 13px;
    color: #7a7a7a;
}
#statistical .row{
    justify-content:space-around;
}

#team{
    background: #f4f4f6;
}
#team .title h1{
    text-align: start;
}
#team .des-record p{
    margin-left: 0px;
}

#team hr{
    margin-top: 0;
    width: 200px;
    border: 2px solid #7ec8e9;
    margin-left: 0;
}
.team-user{
    background: white;
    border-radius: 10px;
    padding-bottom: 10px;
}
.team-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-user p{
    margin: 0;
}

.user-name{
    margin-top: 10px;
}
.job{
    font-size: 13px;
    color: #7a7a7a;
}
.name{
    font-weight: 600 !important;
}

.list-slide-team{
    margin-top: -35px;
}

#price-list .des-record p{
    text-align: center!important;
    margin: 0;
}

.price-list-price p{
    font-weight: bold;
    color:#7ec8e9;
    font-size: 20px;
    margin: 0;
}

.price-list-price sup{
    font-size: 13px;
    font-weight: normal;
}

#price-list .sub-title {
    font-weight: 600;
    font-size: 14px;
    color: #777777;
}
.price-list-item{
    text-align: start;
    padding: 20px 30px;
    border: 1px solid #ffb111;
    border-radius: 10px;
}
.list-rule p{
    font-size: 12px;
}
.list-rule p:hover{
    color:#7ec8e9;
    cursor: pointer;
}
.btn-custom{
    border: 1px solid #ffb111 ;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffb111;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}
