<section id="price-list" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>3000+ Khách hàng đã tin tưởng Asoka Law</h1>
        </div>
        <div class="backgroundIcon">
            <img src="{{base_url}}/asokalaw/assets/media/DKNH/asoka-description/Asset 28.svg">
        </div>
    </div>
</section>