<section id="asoka-description" class="sub">
    <div class="container center">
        <div class="row">
            <div class="col-lg-12 flex-center-vertically">
                <div class="slide-asoka-des">
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một
                                    thương hiệu riêng. Trước khi tung ra các sản phẩm mới,
                                    Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law
                                    rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di
                                    chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và
                                    chuyển phát tận nơi.</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. ROBERT VŨ</p>
                                <p class="text-color">CEO VM Nutrition</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một
                                    thương hiệu riêng. Trước khi tung ra các sản phẩm mới,
                                    Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law
                                    rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di
                                    chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và
                                    chuyển phát tận nơi.</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. CHUNG MINH</p>
                                <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một
                                    thương hiệu riêng. Trước khi tung ra các sản phẩm mới,
                                    Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law
                                    rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di
                                    chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và
                                    chuyển phát tận nơi.</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. KIÊN NGUYỄN</p>
                                <p class="text-color">CEO VM Nutrition</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>