{% extends "asokalaw/base.twig" %}

{% block extra_header %}
    <link rel="stylesheet" href="{{ base_url }}/asokalaw/views/asokalaw/dknh/style.css">
{% endblock %}

{% block slide_header %}
    <div class="container">
        <div class="row banner">
            <div class="col-lg-6 title-banner">
                <div>
                    <h1>Đăng kí logo "chính chủ"
                        <b class="light-blue">"24h"</b> nhận ngay kết quả</h1>
                </div>
                <div class="row paddingTabRecord">
                    <div class="tab-record ">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left widthTabRecord">Không phí ẩn</p>
                    </div>
                    <div class="tab-record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left widthTabRecord">Tra cứu miễn phí</p>
                    </div>
                    <div class="tab-record ">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left widthTabRecord">Ký & giao hồ sơ tận nơi</p>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-warning btn-custom">Tra cứu nhanh</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'asokalaw/dknh/introduce.twig' %}
    {% include 'asokalaw/dknh/effective.twig' %}
    {% include 'asokalaw/dknh/effectiveContent.twig' %}
    {% include 'asokalaw/dknh/price.twig' %}
    {% include 'asokalaw/dknh/effective2.twig' %}
    {% include 'asokalaw/dknh/customer.twig' %}
    {% include 'asokalaw/dknh/description.twig' %}
    {% include 'asokalaw/home/partner.twig' %}
    {% include 'asokalaw/dknh/question.twig' %}
    {% include 'asokalaw/home/slide-videos.twig' %}
    {% include 'asokalaw/home/news.twig' %}
    {% include 'asokalaw/dknh/subfooter.twig' %}
{% endblock %}