<section id="introduce" class="sub">
    <div class="effect-img">
    </div>
    <div class="container-fluid center">
        <div class="row title">
            <h1>Đến 80% doanh nghiệp chưa bảo vệ nhãn hiệu <br>và có nguy cơ bị xâm phạm<br></h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-record">
                        <div class="desRecord float-right">
                            <div class="float-left titleRecord">
                                <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Form/Asset 5.svg">
                            </div>
                            <p class="Record">Nhãn hiệu là dấu hiệu dùng để phân biệt hàng hoá, dịch vụ của các tổ
                                chức, cá nhân
                                khác nhau, thể hiện
                                dưới dạng chữ cái, từ ngữ, hình ảnh, hình vẽ hoặc sự kết hợp của các yếu tố đó được
                                thể hiện bằng một hoặc
                                nhiều màu sắc.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="desRecord float-right">
                            <div class="float-left titleRecord">
                                <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Form/Asset 5.svg">
                            </div>
                            <p class="Record">Đăng ký nhãn hiệu là thủ tục dành cho tổ chức, cá nhân tiến hành hoạt
                                động thương mại
                                hợp pháp xác lập
                                quyền sở hữu đối với nhãn hiệu dùng cho hàng hoá do mình sản xuất hoặc dịch vụ do
                                mình cung cấp.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="desRecord float-right">
                            <div class="float-left titleRecord">
                                <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Form/Asset 5.svg">
                            </div>
                            <p class="Record">Đăng ký nhãn hiệu nhằm bảo vệ quyền và lợi ích hợp pháp cho các chủ sở
                                hữu nhãn hiệu
                                khi tiến hành
                                kinh doanh, tránh tình trạng bị các đối thủ "ăn cắp", "làm nhái", "làm giả", cạnh
                                tranh không lành mạnh. Đây là
                                thủ tục quan trọng, không thể thiếu đối với các tổ chức, cá nhân khi tiến hành kinh
                                doanh.</p>
                        </div>
                    </div>
                    <div class="desRecord float-right">
                        <p class="Record" style="color: grey;">
                            "Đăng ký nhãn hiệu" (*) còn được gọi là: "đăng ký thương hiệu", "bảo hộ nhãn hiệu",
                            "đăng ký độc quyền nhãn
                            hiệu", "đăng ký độc quyền thương hiệu", "độc quyền logo",...
                        </p>
                    </div>
                    <div class="infoSeeAll">
                        <a>Tìm hiểu thêm về đăng ký nhãn hiệu >> </a>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-5" style="padding-left: 90px;">

                    <div>
                        <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Form/Asset 3.svg" class="imgForm">
                        <form class="shadow backgrFormound">
                            <div class="form-group">
                                <h2>TRA CỨU LOGO CỦA BẠN</h2>
                                <input style="margin-bottom: 3%;" type="email" class="form-control"
                                       id="exampleFormControlInput1" placeholder="Họ và tên">
                                <input style="margin-bottom: 3%;" type="email" class="form-control"
                                       id="exampleFormControlInput1" placeholder="Số điện thoại*">
                                <input style="margin-bottom: 3%;" type="email" class="form-control"
                                       id="exampleFormControlInput1" placeholder="Email*">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          placeholder="Tên nhãn hiệu, ngành nghề kinh doanh &#x0aVd: Flow Media-Truyền thông marketing"></textarea>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-link"><i>Logo đính kèm 1</i></button>
                                <button type="button" class="btn btn-link" style="color: gray;"><i>Logo đính kèm
                                        2</i></button>
                                <button type="button" class="btn btn-link" style="color: gray;"><i>Logo đính kèm
                                        3</i></button>
                            </div>
                            <div class="flex-center-hor">
                                <button type="button" class="btn btn-warning btn-custom">Đăng kí bảo hộ nhãn
                                    quyền</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>