<section id="question" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Các câu hỏi thường gặp</h1>
        </div>
        <div class="row question-contetn sub">
            <div class="col-lg-6" style="padding-left: 12%;">
                <div class="summary-item">
                    <p class="summaryTitle">Khái niệm</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Nhãn hiệu là gì?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Nhãn hiệu liên kết là gì?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Nhãn hiệu tập thể là gì?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summaryTitle">Thủ tục đăng ký nhãn hiệu</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tài liệu sao y là gì?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tài liệu để đăng ký sở hữu nhãn hiệu công ty
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tài liệu để đăng ký sở hữu nhãn hiệu cá nhân</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summaryTitle">Quy trình đăng ký nhãn hiệu</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Việc xử lý hồ sơ tại TP.HCM như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Việc xử lý hồ sơ ngoài TP.HCM như thế nào?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Quy trình xử lý đơn tại Cục SHTT như thế nào?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="padding-left: 12%;">
                <div class="summary-item">
                    <p class="summaryTitle">Thời gian</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Thời gian bảo hộ nhãn hiệu của tôi bao lâu?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Hình như tôi thấy bên khác làm nhanh hơn
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Văn bằng bảo hộ có thời hạn bao lâu?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summaryTitle">Tra cứu nhãn hiệu</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tự kiểm tra nhãn hiệu ở đâu?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Làm sao biết nhãn hiệu có đủ điều kiện đăng ký?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Asoka Law có kiểm tra nhãn hiệu miễn phí?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summaryTitle">Cách thức thanh toán</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tôi muốn thanh toán tiền mặt có được không?
                        </p>
                    </div>
                </div>
            </div>
            <div class="info-see-all center sub">
                <a>Xem tất cả các câu hỏi >></a>
                <hr>
            </div>
        </div>
    </div>
</section>