<section id="sub">
    <div class="subFooter">
        <div class="title-banner flex-center-hor flex-center-sub">
            <h4><span style="color: grey;">Đăng kí nhãn hiệu sớm để</span>
                <br>Bảo vệ nhãn hiệu độc quyền ngay hôm nay</br></h4>
        </div>
        <div class="flex-center-hor">
            <button type="button" class="btn btn-warning btn-custom">ĐĂNG KÝ DỊCH VỤ</button>
        </div>
    </div>
    <div class="container">
        <div class="row imgSub logoContent">
            <center>
                    <span>
                        <img class="ingHeight" src="{{base_url}}/asokalaw/assets/media/DKNH/SVG-Promote/Asset 30.svg">
                    </span>
                <b class="fontSize">
                    3000+
                </b>
                <span>
                        Logo đã đăng ký
                        thành công
                    </span>
            </center>
            <div class="logo">
            </div>
            <center>
                    <span>
                        <img class="ingHeight" src="{{base_url}}/asokalaw/assets/media/DKNH/SVG-Promote/Asset 31.svg">
                    </span>
                <b class="fontSize">
                    50+
                </b>
                <span>
                        Logo đăng ký
                        quốc tế
                    </span>
            </center>
        </div>
    </div>
</section>