
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
}

.sub {
    padding-bottom: 30px;
    padding-top: 30px;
}

.bg-image {
    color: black;
    background: url(../media/footer-bg.jpg) bottom center no-repeat;
}

.bg-grey {
    color: #a7a7a7;
    background-color: #e0e3e6;
}

.bg-blue {
    color: #a7a7a7;
    background-color: #212331;
}

.space {
    margin-bottom: 30px;
}

.center {
    text-align: center;
    margin: auto;
}

.footer h4 {
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.footer  li a {
    color: #a7a7a7;
}

.footer li a:hover {
    color: white;
    text-decoration: none;
}


header a {
    color: #a7a7a7;
}

header a:hover {
    color: white;
    text-decoration: none;
}
header nav a:hover {
    color: orange;
    text-decoration: none;
}

.padding{
    padding: 5px 20px;
    text-align: center;
    margin: auto;
}

.img-responsive {
    display: block;

    max-width: 100%;
    height: auto;
}

.social i {
    border: 1px solid #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.social a{
    color: #fff;
}

.primary{
    color: orange;
    font-size: 20px;
}

.h-phone {
    font-size: 22px;
    font-weight: 600;
    float:right;
}
.header {
    background-image: url(../media/background.jpg);
    background-size:cover ;
    background-position: center;
    height: 700px;
}
.slide-item{
    padding: 20px;
}
#slide-video{
    background: #f4f4f6;
}
.title h1{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.btn-time{
    background: #7ec8e9;
    padding: 10px;
    width: 130px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 20px;
}
.img-info{
    width: 100%;
    height: 200px;
    margin-top:-15px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.title-info h4{
    font-weight: bold !important;
    font-family: "Times New Roman", Times, serif;
    text-align: start;
    padding: 20px 0 10px;
}

.title-des p{
    text-align: justify;
    font-size: 13px;
    color: #8f8f90;
}
.info-see-all hr{
    width: 150px;
    background: #7ec8e9;
    margin-top: 0 !important;
}
.info-see-all a{
    color:#7ec8e9 ;
    font-size: 12px;
    font-style: italic;
}
.img-partner{
    max-width: 100%;
}
#effective{
    background-image: url(../media/effect/background_1.svg);
    background-size: cover;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    position: relative;
}
.effective-img{
    width:100%;
    border-radius: 20px;
}
.effective-content{
    margin-top: 60px;
}
.title-record h4{
    float:right;
    font-weight: bold;
    margin-left: 20px;
    font-size: 17px;
}
.des-record p {
    margin-left: 45px;
    font-size: 14px;
    text-align: justify;
    color: #8f8f90;
}
.content-record i{
    color: #ffb111;
    font-size: 30px;
}
#statistical hr{
    margin-top: -10px;
    margin-bottom: 10px;
    width: 30px;
    border: 2px solid #ffb111;
    margin-left: 0;
}
.statistical-number{
    font-size: 3rem;
    font-weight: bold;
    color: #474747;
}
.statistical-label{
    font-weight: 600;
    font-size: 13px;
    color: #7a7a7a;
}
#statistical .row{
    justify-content:space-around;
}

#team{
    background-image: url(../media/team/background.svg);
    background-size: cover;
    padding-top: 100px;
}
#team .title h1{
    text-align: start;
}
#team .des-record p{
    margin-left: 0px;
}

#team hr{
    margin-top: 0;
    width: 200px;
    border: 2px solid #7ec8e9;
    margin-left: 0;
}
.team-user{
    background: white;
    border-radius: 10px;
    padding-bottom: 10px;
}
.team-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-user p{
    margin: 0;
}

.user-name{
    margin-top: 10px;
}
.job{
    font-size: 13px;
    color: #7a7a7a;
}
.name{
    font-weight: 600 !important;
}

.list-slide-team{
    margin-top: -35px;
}

#price-list .des-record p{
    text-align: center!important;
    margin: 0;
}

.price-list-price p{
    font-weight: bold;
    color:#1a73e8;
    font-size: 20px;
    margin: 0;
}

.price-list-price sup{
    font-size: 10px;
    font-weight: normal;
}

#price-list .sub-title {
    font-weight: 600;
    font-size: 14px;
    color: #777777;
}
.price-list-item{
    text-align: start;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 51px 30px #f2f2f2;
}
.list-rule p{
    font-size: 12px;
}
.list-rule p:hover{
    color:#7ec8e9;
    cursor: pointer;
}
.btn-custom{
    border: 1px solid #ffb111 ;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffb111;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#asoka-description .des-record p{
    font-size: 15px;
    font-style: italic;
    color: #25405b;
    text-align: center;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 0px;
}
#asoka-description hr{
    background: #25405b;
    width: 300px;
}
.normal{
    font-style: normal !important;
}
.text-color{
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    color: #ffb111 !important;
}
.background-icon img{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 25px 0 0 -15px;
}
#asoka-description .content i{
     font-size: 10px;
     color: #515151;
     margin: 0 2px;
 }
#asoka-description .content .bold{
    font-size: 13px !important;
    color: #ffb111!important;
    margin: 0 2px;
}

.flex-center-hor{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.service-item{
    text-align: center;
    width: 25%;
}
.service-item .title{
    font-size: 17px;
    font-weight: 600;
}
.service-item p.sub-title{
    font-size: 12px;
    color: #70706f;
    margin-bottom: 0px;
}
.service-item i{
    font-size: 40px;
    color: #ffb111 ;
    margin-bottom: 10px;
}

.service-item hr.horizontal{
     background:#70706f ;
     width: 100%;
     size: 2px;
    margin-bottom: 0px;
    margin-top: 40px;
 }
.list-service hr.vertical{
     background:#70706f ;
     height: 100%;
     width: 1px;
    margin: 0;
 }
.service-item .content{
    margin: 0px 40px;
}

#service .title h1{
    margin-bottom: 30px;
}

#service .sub {
    padding-bottom: 0px !important;
}
#service .content-2{
    margin: 40px 40px 0;
}

#service .btn-custom{
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 60px;
    text-align: center;
    font-size: 17px;
}
.banner{
    margin-top: 100px;
}
.banner h1{
    font-weight: bold;
}
.text-color-search{
    color: white;
    font-size: 13px;
    border-radius: 50px;
    padding-left:  25px;
    padding-right:  25px;
    height: 35px;
}
.container-search{
    width: 60%;
    height: 35px;
    color: white;
    border-radius: 50px;
    background: white;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.search{
    margin-top: 50px;
}
.search .fa-search{
    color: #6c757d;
    font-size: 20px;
    margin-top: 5px;
 }
.search .fa-caret-down{
    color: #6c757d;
    font-size: 10px;
    margin-top: 8px;
}
.row-search{
    padding: 0 20px 0 10px;
    justify-content: space-between;
}
.input-search{
    width: 80%;
    border: 0px none white;
}
::placeholder{
    font-size: 12px;
    font-style: italic;
}

#service{
    margin-top: 30px;
}
.nextArrowBtn{
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: -20px;
    color: #BFAFB2;
}
.prevArrowBtn{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: -20px;
    color: #BFAFB2;
}
.slick-dots{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.slick-dots li{
    padding: 0 5px;
}
.slick-dots li i{
    font-size: 12px;
    color: #6c757d;
}

li.slick-active i{
    font-size: 15px!important;
    color: #ffb111!important; ;
}
.price-list-item img{
    position: absolute;
    width: 30%;
    right: 50px;
}

.price-list-item h5{
    margin-top: 20px;
}
.price-list-price{
    margin-left: -30px;
    background-image: url(../media/price/background.svg);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
}
.list-rule i{
    color:#7ec8e9;
}

#service img{
    height: 50px;
    margin-bottom: 10px;
}
.effect-img img{
    width: 200px;
    position: absolute;
    bottom: 90px;
    right: 180px;
}
.title-record img{
    width: 25px;
}

img.arrows{
    width: 20px;
}

img.news{
    width: 50px;
}
img.prevArrowBtnNews{
    position: absolute;
    z-index: 1000;
    top: 110px;
    left: 0;
    color: #BFAFB2;
}

img.nextArrowBtnNews{
    position: absolute;
    z-index: 1000;
    top: 110px;
    right: 0;
    color: #BFAFB2;
}
img.icon{
    width: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.prevArrowBtnVideo{
    position: absolute;
    z-index: 1000;
    top: 70px;
    left: 0;
    color: #BFAFB2;
}

img.nextArrowBtnVideo{
    position: absolute;
    z-index: 1000;
    top: 70px;
    right: 0;
    color: #BFAFB2;
}

.btn-play{
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(100% - 230px);
    top: calc(100% - 208px);
}

#slide-video .slide-item{
    position: relative;
}