<section id="team" class="sub">
    <div class="container center">
        <div class="effective-content">
            <div class="row">
                <div class="col-lg-7">
                    <div class="list-slide-team">
                        <div class="slide-item">
                            <div class=" team-user">
                                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/team/LSTD.png">
                                <div class="user-name center">
                                    <p>Luật sư <b class="name">Tâm Dương</b></p>
                                </div>
                                <p class="job">Truyền thông - Sự kiện</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class=" team-user">
                                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/team/LSNST.png">
                                <div class="user-name center">
                                    <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                </div>
                                <p class="job">Tranh chấp dân sự - Thương mại</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class=" team-user">
                                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/team/LSNST.png">
                                <div class="user-name center">
                                    <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                </div>
                                <p class="job">Tranh chấp dân sự - Thương mại</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 title">
                    <h1>Đội ngũ luật sư và cố vấn của Asoka Law</h1>
                    <div class="sub des-record">
                        <p>Không chỉ có luật sư/chuyên viên trực tiếp làm việc tại Văn Phòng nhằm
                            giải quyết các vấn đề pháp lý phổ biến cho doanh nghiệp, Asoka Law còn
                            có mối quan hệ hợp tác với các luật sư/cố vấn tại các chuyên ngành cần
                            chuyên môn sâu nhằm hỗ trợ khách hàng giải quyết tốt nhất ở các hồ sơ
                            đặc thù. Chúng tôi tự hào có mối quan hệ hợp tác với trên 30 luật sư/cố
                            vấn chuyên môn ở các lĩnh vực như: hàng hải, bảo hiểm, truyền thông,
                            nhượng quyền</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>