{% extends "asokalaw/base.twig" %}

{% block slide_header %}
    <section>
        <div class="container">
            <div class="row banner" style="height: 600px">
                <div class="col-md-7 title-banner vertical-middle">
                    <h1>Lorem Isum Dolor Sit Amet Consectetuer Adipirt</h1>
                    <div class="row search">
                        <div class="container-search flex-center-vertically">
                            <div class="row row-search">
                                <i class="fa fa-search"></i>
                                <select type="text" class="input-search">
                                    <option value="">Chọn lĩnh vực bạn quan tâm</option>
                                    <option value="Doanh nghiệp">Doanh nghiệp</option>
                                    <option value="Sở hữu trí tuệ">Sở hữu trí tuệ</option>
                                    <option value="Tranh chấp thương mại">Tranh chấp thương mại</option>
                                    <option value="Lao động - nhân sự">Lao động - nhân sự</option>
                                    <option value="Sự kiện truyền thông">Sự kiện truyền thông</option>
                                    <option value="Đăng ký đầu tư">Đăng ký đầu tư</option>
                                    <option value="Ngân hàng - bảo hiểm">Ngân hàng - bảo hiểm</option>
                                    <option value="Định cư - du học">Định cư - du học</option>
                                    <option value="Lĩnh vực khác">Lĩnh vực khác</option>
                                </select>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <button class="btn btn-warning text-color-search">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% include 'asokalaw/home/service.twig' %}
    {% include 'asokalaw/home/feedback.twig' %}
    {% include 'asokalaw/home/price.twig' %}
    {% include 'asokalaw/home/asoka-about.twig' %}
    {% include 'asokalaw/home/statistical.twig' %}
    {% include 'asokalaw/home/effective.twig' %}
    {% include 'asokalaw/home/partner.twig' %}
    {% include 'asokalaw/home/news.twig' %}
    {% include 'asokalaw/home/slide-videos.twig' %}


    <section class="sub bg-image center">
        <div class="container">
            <h5>Gọi ngay cho chúng tôi để được tư vấn pháp lý</h5>
            <h3><i class="fa fa-phone"></i> 096 191 4328</h3>
        </div>
    </section>
{% endblock %}