<section id="slide-info" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Tin tức mới nhất từ Asoka Law</h1>
        </div>
        <div class="list-slide">
            <div class="slide-item">
                <div class="container">
                    <div class="btn-time">28 THÁNG 02 - 2020</div>
                </div>
                <div>
                    <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/landingpage/news/1.jpg">
                </div>
                <div class="title-info">
                    <h4>Những bài học "đắt giá" của
                        thương hiệu Việt</h4>
                </div>
                <div class="title-des">
                    <p>Thương hiệu, một tài sản của doanh nghiệp dễ bị
                        “bắt cóc” nhưng lại hay bị lãng quên. Dù đã được
                        cảnh tỉnh bởi các cơ quan chức năng nhưng...</p>
                </div>

            </div>
            <div class="slide-item">
                <div class="container">
                    <div class="btn-time">28 THÁNG 02 - 2020</div>
                </div>
                <div>
                    <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/landingpage/news/2.jpg">
                </div>
                <div class="title-info">
                    <h4>Hướng dẫn thủ tục thành lập
                        doanh nghiệp 6 loại hình cơ bản</h4>
                </div>
                <div class="title-des">
                    <p>Thủ tục để mở một công ty mới hiện nay cũng
                        được đơn giản hoá hơn rất nhiều. Chỉ cần một
                        chiếc máy vi tính có kết nối mạng internet...</p>
                </div>

            </div>
            <div class="slide-item">
                <div class="container">
                    <div class="btn-time">28 THÁNG 02 - 2020</div>
                </div>
                <div>
                    <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/landingpage/news/3.jpg">
                </div>
                <div class="title-info">
                    <h4>Recruitment of Legal Specialists
                        - Round 1/2020</h4>
                </div>
                <div class="title-des">
                    <p>
                        Currently, Asoka is looking for five legal specialists
                        to carry out tasks in the legal segment of Enterprise-Investment...
                    </p>
                </div>

            </div>
            <div class="slide-item">
                <div class="container">
                    <div class="btn-time">28 THÁNG 02 - 2020</div>
                </div>
                <div>
                    <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/landingpage/news/1.jpg">
                </div>
                <div class="title-info">
                    <h4>Những bài học "đắt giá" của
                        thương hiệu Việt</h4>
                </div>
                <div class="title-des">
                    <p>Thương hiệu, một tài sản của doanh nghiệp dễ bị
                        “bắt cóc” nhưng lại hay bị lãng quên. Dù đã được
                        cảnh tỉnh bởi các cơ quan chức năng nhưng...</p>
                </div>

            </div>
        </div>
        <div class="info-see-all">
            <a>Xem tất cả tin tức >></a>
            <hr>
        </div>
    </div>
</section>