<section id="slide-partner" class="sub">
    <div class="container center">
        <div class="list-slide-partner">
            {% for partner in partners %}
                <div class="slide-item">
                    <img class="img-partner" src="{{ partner }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>