<section id="price-list" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Asoka Law được tin dùng bởi +3500 doanh nghiệp</h1>
        </div>
        <div class="des-record sub center">
            <p>Từ công ty khởi nghiệp cho đến công ty hoạt động trên 03 năm đều dễ dàng tìm thấy các dịch vụ pháp lý thiết yếu tại Asoka Law.</p>
            <p>Đóng gói chặt chẽ theo độ tuổi doanh nghiệp/lĩnh vực kinh doanh, tư vấn nhiệt tình, thực hiện tận tâm.</p>
            <p>Asoka Law đã hỗ trợ khách hàng kinh doanh thành công từ 2015 cho đến nay.</p>
        </div>
        <div class="row sub">
            <div class="col-lg-3 container">
                <div class="price-list-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/price/1.svg">
                    <h5>Khởi tạo doanh nghiệp</h5>
                    <div class="price-list-price">
                        <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                    </div>
                    <p class="sub-title">Dịch vụ phổ biến</p>
                    <div class="list-rule">
                        <p><i class="fa fa-caret-right"></i> Đăng kí kinh doanh</p>
                        <p><i class="fa fa-caret-right"></i> Đăng kí đầu tư</p>
                        <p><i class="fa fa-caret-right"></i> Tư vấn trực tuyến</p>
                    </div>
                    <div class="center">
                        <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                    </div>
                </div>
            </div>
            <!--            <div class="col-lg-3 container">-->
            <!--                <div class="price-list-item">-->
            <!--                    <img src="assets/price/2.svg">-->
            <!--                    <h5>Doanh nghiệp dưới 01 năm</h5>-->
            <!--                    <div class="price-list-price sub">-->
            <!--                        <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>-->
            <!--                    </div>-->
            <!--                    <p class="sub-title">Dịch vụ phổ biến</p>-->
            <!--                    <div class="list-rule">-->
            <!--                        <p><i class="fa fa-caret-right"></i>  Pháp lý thường xuyên</p>-->
            <!--                        <p><i class="fa fa-caret-right"></i>  Tư vấn chuyên sâu</p>-->
            <!--                        <p><i class="fa fa-caret-right"></i>  Thay đổi kinh doanh</p>-->
            <!--                    </div>-->
            <!--                    <div class="center">-->
            <!--                        <button type="button" class="btn btn-custom">Đăng kí ngay</button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-lg-3 container">
                <div class="price-list-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/price/3.svg">
                    <h5>Doanh nghiệp 01 đến 03 năm</h5>
                    <div class="price-list-price">
                        <p><sup>Từ</sup>1.990.000<sup>VNĐ</sup></p>
                    </div>
                    <p class="sub-title">Dịch vụ phổ biến</p>
                    <div class="list-rule">
                        <p><i class="fa fa-caret-right"></i> Pháp lý thường xuyên</p>
                        <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                        <p><i class="fa fa-caret-right"></i> Mở rộng kinh doanh</p>
                    </div>
                    <div class="center">
                        <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 container">
                <div class="price-list-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/price/4.svg">
                    <h5>Doanh nghiệp trên 03 năm</h5>
                    <div class="price-list-price">
                        <p><sup>Từ</sup>2.990.000<sup>VNĐ</sup></p>
                    </div>
                    <p class="sub-title">Dịch vụ phổ biến</p>
                    <div class="list-rule">
                        <p><i class="fa fa-caret-right"></i> Nhượng quyền thương mại</p>
                        <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                        <p><i class="fa fa-caret-right"></i> Xử lý tranh chấp</p>
                    </div>
                    <div class="center">
                        <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>