<section id="statistical" class="sub">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="statistical-number">86</div>
                <hr>
                <div class="statistical-label">VỤ VIỆC ĐÃ ĐẠI DIỆN</div>
            </div>
            <div class="">
                <div class="statistical-number">2358</div>
                <hr>
                <div class="statistical-label">GIỜ ĐÃ TƯ VẤN</div>
            </div>
            <div class="">
                <div class="statistical-number">3500</div>
                <hr>
                <div class="statistical-label">LƯỢT SỬ DỤNG DỊCH VỤ</div>
            </div>
        </div>
    </div>

</section>