{% extends "asokalaw/base.twig" %}
{% block content %}
    <section id="price-list" class="sub">
        <div class="container center">
            <div class="row title">
                <h1>Asoka Law được tin dùng bởi +3500 doanh nghiệp</h1>
            </div>
            <div class="des-record sub center">
                <p>Từ công ty khởi nghiệp cho đến công ty hoạt động trên 03 năm đều dễ dàng tìm thấy các dịch vụ pháp lý thiết yếu tại Asoka Law.</p>
                <p>Đóng gói chặt chẽ theo độ tuổi doanh nghiệp/lĩnh vực kinh doanh, tư vấn nhiệt tình, thực hiện tận tâm.</p>
                <p>Asoka Law đã hỗ trợ khách hàng kinh doanh thành công từ 2015 cho đến nay.</p>
            </div>
            <div class="row sub">
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <h5>Khởi tạo doanh nghiệp</h5>
                        <div class="price-list-price sub">
                            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Đăng kí kinh doanh</p>
                            <p><i class="fa fa-caret-right"></i> Đăng kí đầu tư</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn trực tuyến</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <h5>Doanh nghiệp dưới 01 năm</h5>
                        <div class="price-list-price sub">
                            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Pháp lý thường xuyên</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                            <p><i class="fa fa-caret-right"></i> Thay đổi kinh doanh</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <h5>Doanh nghiệp 01 đến 03 năm</h5>
                        <div class="price-list-price sub">
                            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Pháp lý thường xuyên</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                            <p><i class="fa fa-caret-right"></i> Mở rộng kinh doanh</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <h5>Doanh nghiệp trên 03 năm</h5>
                        <div class="price-list-price sub">
                            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Nhượng quyền thương mại</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                            <p><i class="fa fa-caret-right"></i> Xử lý tranh chấp</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="sub">
        <div class="container center">
            <div class="effective-content">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="list-slide-team">
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="assets\user1.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Tâm Dương</b></p>
                                    </div>
                                    <p class="job">Truyền thông - Sự kiện</p>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="assets\user2.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                    </div>
                                    <p class="job">Tranh chấp dân sự - Thương mại</p>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="assets\user2.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                    </div>
                                    <p class="job">Tranh chấp dân sự - Thương mại</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 title">
                        <h1>Đội ngũ luật sư và cố vấn của Asoka Law</h1>
                        <div class="sub des-record">
                            <p>Không chỉ có luật sư/chuyên viên trực tiếp làm việc tại Văn Phòng nhằm
                                giải quyết các vấn đề pháp lý phổ biến cho doanh nghiệp, Asoka Law còn
                                có mối quan hệ hợp tác với các luật sư/cố vấn tại các chuyên ngành cần
                                chuyên môn sâu nhằm hỗ trợ khách hàng giải quyết tốt nhất ở các hồ sơ
                                đặc thù. Chúng tôi tự hào có mối quan hệ hợp tác với trên 30 luật sư/cố
                                vấn chuyên môn ở các lĩnh vực như: hàng hải, bảo hiểm, truyền thông,
                                nhượng quyền</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="statistical" class="sub">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="statistical-number">86</div>
                    <hr>
                    <div class="statistical-label">VỤ VIỆC ĐÃ ĐẠI DIỆN</div>
                </div>
                <div class="">
                    <div class="statistical-number">2358</div>
                    <hr>
                    <div class="statistical-label">GIỜ ĐÃ TƯ VẤN</div>
                </div>
                <div class="">
                    <div class="statistical-number">3500</div>
                    <hr>
                    <div class="statistical-label">LƯỢT SỬ DỤNG DỊCH VỤ</div>
                </div>
            </div>
        </div>

    </section>
    <section id="effective" class="sub">
        <div class="container center">
            <div class="row title">
                <h1>Hiệu quả sử dụng dịch vụ pháp lý của Asoka Law</h1>
            </div>
            <div class="effective-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-record">
                            <div class="float-left title-record">
                                <i class="fa fa-check-circle"></i>
                                <h4>Pháp lí theo nhu cầu</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chúng tôi tin rằng dịch vụ tốt xuất phát từ sự thấu hiểu nhu cầu của khách
                                    hàng. Do vậy, Asoka dành thời gian đóng gói kỹ dịch vụ phù hợp với độ tuổi,
                                    ngành nghề kinh doanh của doanh nghiệp. Doanh nghiệp có thể dễ dàng lựa
                                    chọn và sử dụng</p>
                            </div>
                        </div>
                        <div class="content-record">
                            <div class="float-left title-record">
                                <i class="fa fa-check-circle"></i>
                                <h4>Giá phí công khai & tiết kiệm</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chi phí là vấn đề sống còn của doanh nghiệp. Sử dụng dịch vụ của Asoka giúp
                                    doanh nghiệp tiết kiệm được tới 80% chi phí vận hành. Chúng tôi luôn niêm
                                    yết công khai giá phí để khách hàng có thể ước tính ngân sách phù hợp.</p>
                            </div>
                        </div>
                        <div class="content-record">
                            <div class="float-left title-record">
                                <i class="fa fa-check-circle"></i>
                                <h4> Mạng lưới luật sư rộng khắp</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chúng tôi lựa chọn hợp tác với những luật sư và cố vấn tài năng từ các tập đoàn
                                    danh tiếng. Kinh nghiệm chuyên sâu của họ ở nhiều lĩnh vực đặc thù là yếu tố
                                    then chốt làm nên chiến thắng cho khách hàng ở nhiều vụ việc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="effective-img" src="https://miro.medium.com/max/750/1*L85MK5-KqwOGw1fLZX33WQ.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-partner" class="sub">
        <div class="container center">
            <div class="list-slide-partner">
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
                <div class="slide-item">
                    <img class="img-partner" src="assets/agribank.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="slide-info" class="sub">
        <div class="container center">
            <div class="row title">
                <h1>Tin tức mới nhất từ Asoka Law</h1>
            </div>
            <div class="list-slide">
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="https://sohanews.sohacdn.com/thumb_w/660/2018/4/26/photo1524724598744-1524724599112222612533.jpg">
                    </div>
                    <div class="title-info sub">
                        <h4>Effect if in up no depend seemed</h4>
                    </div>
                    <div class="title-des">
                        <p>An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy
                            exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="https://sohanews.sohacdn.com/thumb_w/660/2018/4/26/photo1524724598744-1524724599112222612533.jpg">
                    </div>
                    <div class="title-info sub">
                        <h4>Effect if in up no depend seemed</h4>
                    </div>
                    <div class="title-des">
                        <p>An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy
                            exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="https://sohanews.sohacdn.com/thumb_w/660/2018/4/26/photo1524724598744-1524724599112222612533.jpg">
                    </div>
                    <div class="title-info sub">
                        <h4>Effect if in up no depend seemed</h4>
                    </div>
                    <div class="title-des">
                        <p>An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy
                            exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="https://sohanews.sohacdn.com/thumb_w/660/2018/4/26/photo1524724598744-1524724599112222612533.jpg">
                    </div>
                    <div class="title-info sub">
                        <h4>Effect if in up no depend seemed</h4>
                    </div>
                    <div class="title-des">
                        <p>An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy
                            exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                    </div>

                </div>
            </div>
            <div class="info-see-all">
                <a>Xem tất cả tin tức >></a>
                <hr>
            </div>
        </div>
    </section>
    <section id="slide-video" class="sub">
        <div class="container">
            <div class="row">
                <h4>Video được xem nhiều nhất</h4>
            </div>
            <div class="list-slide">
                <div class="slide-item">
                    <video height="170" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <i class="fa fa-eye"> 2k3 lượt xem</i>
                </div>
                <div class="slide-item">
                    <video height="170" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <i class="fa fa-eye"> 2k3 lượt xem</i>
                </div>
                <div class="slide-item">
                    <video height="170" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <i class="fa fa-eye"> 2k3 lượt xem</i>
                </div>
                <div class="slide-item">
                    <video height="170" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <i class="fa fa-eye"> 2k3 lượt xem</i>
                </div>
            </div>
        </div>
    </section>
{% endblock %}