<section id="asoka-description" class="sub">
    <div class="container center">
        <div class="row">
            <div class="background-icon">
                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/feedback/quote.svg">

            </div>
            <div class="col-lg-8 flex-center-vertically">
                <div class="slide-asoka-des">
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                    xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                    và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty
                                    riêng
                                    của mình sau đó</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                    xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                    và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty
                                    riêng
                                    của mình sau đó</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                    xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                    và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty
                                    riêng
                                    của mình sau đó</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-user">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/asoka-description/Vector Smart Object.png">
                </div>
            </div>
        </div>
    </div>
</section>