<section id="contact" class="sub">
    <div class="container-fluid">
        <div class="row">
            <div class="contact-title flex-center-vertically">
                <p><B> 100% khách hàng hài lòng</B></p>
                <p>khi tham vấn với luật sư/cố vấn của Asoka Law</p>
            </div>
            <div class="sub">
                <button class=" btn btn-warning padding color-white" type="button">ĐẶT LỊCH TƯ VẤN NGAY</button>
            </div>
        </div>
    </div>
</section>