<section id="question" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Các câu hỏi thường gặp</h1>
        </div>
        <div class="row question-contetn sub">
            <div class="col-lg-6">
                <div class="summary-item">
                    <p class="summary-title">Đối tượng sử dụng</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Cá nhân có nên sử dụng Gói pháp lý thường xuyên?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summary-title">Thời gian sử dụng</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Thời gian sử dụng gói pháp lý thường xuyên như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summary-title">Cách thức thanh toán</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tôi muốn thanh toán tiền mặt có được không?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="summary-item">
                    <p class="summary-title">Đối tượng sử dụng</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Cá nhân có nên sử dụng Gói pháp lý thường xuyên?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summary-title">Thời gian sử dụng</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Thời gian sử dụng gói pháp lý thường xuyên như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?
                        </p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?</p>
                    </div>
                </div>
                <div class="summary-item">
                    <p class="summary-title">Cách thức thanh toán</p>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?</p>
                    </div>
                    <div class="record">
                        <i class="fa fa-circle float-left"></i>
                        <p class="unit align-left">Tôi muốn thanh toán tiền mặt có được không?
                        </p>
                    </div>
                </div>
            </div>
            <div class="info-see-all center sub">
                <a>Xem tất cả tin tức ></a>
                <hr>
            </div>
        </div>
    </div>
</section>