<div class="modal fade" id="alert-success" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%!important;">
        <div class="modal-content alert-success" style="background-color: #d4edda;
    border-color: #c3e6cb;">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h4>Cảm ơn! Chúng tôi đã nhận được thông tin của bạn</h4>
                        <br>
                        <br>
                        <p>
                            Chuyên viên của Asoka Law sẽ liên lạc với bạn ngay trong vòng 05 phút để xác nhận yêu cầu
                        </p>
                        <p>
                            Bạn vui lòng kiểm tra tin nhắn điện thoại/email để không bỏ sót thông tin của chúng tôi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="
    background: #e6e2e2;
">

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Họ tên</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Số điện thoại</label>
                        <input class="form-control" type="tel" id="phone"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input class="form-control" type="email" id="email"/>
                    </div>
                    <div class="form-group">
                        <label for="problem">Vấn đề bạn cần tư vấn</label>
                        <textarea class="form-control" id="problem" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="problem">Vấn đề bạn cần tư vấn</label>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="tvtt" value="tvtt">
                                        <label class="form-check-label" for="tvtt">Tư vấn trực tuyến</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dknh" value="dknh">
                                        <label class="form-check-label" for="dknh">Đăng kí nhãn hiệu</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dkkd" value="dkkd">
                                        <label class="form-check-label" for="dkkd">Đăng kí kinh doanh</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="plsk" value="plsk">
                                        <label class="form-check-label" for="plsk">Pháp lý sự kiện</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="pltx" value="pltx">
                                        <label class="form-check-label" for="pltx">Pháp lý thường xuyên</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="xltc" value="xltc">
                                        <label class="form-check-label" for="xltc">Xử lý tranh chấp</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" onclick="jQuery:$('#alert-success').modal('show');" type="button" class="btn btn-warning" data-dismiss="modal">
                    Gửi yêu cầu
                </button>

            </div>
        </div>
    </div>
</div>