<section class=" bg-blue">
    <div class="container">
        <div class="row center">
            <div class="col-md-3 padding">
                <i class="far fa-envelope"></i> consult@asokalaw.vn
            </div>

            <div class="col-md-9 center">
                <div class="float-right padding">
                    <a href="/dang-ky-nhan-hieu">VN</a>
                    <span>|</span>
                    <a href="/trademark-registration">EN</a>
                </div>

                <button class="float-right btn btn-outline-warning padding" type="button">Nhận tư vấn miễn phí
                </button>

                <div class="h-phone padding"><i class="far fa-phone primary"></i> 028 62 789 228</div>
            </div>

        </div>
    </div>

</section>