<li class="nav-item">
    <a href="{{ base_url }}/admin/modulenametkt" class="nav-link {% if uri[1]=='modulenametkt' %}active{% endif %}">
        <i class="nav-icon far fa-cube"></i>
        <p>{{ lang('LBL_modulenametkt') }}</p>
    </a>
</li>
